@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Lora:700");
@import url("https://fonts.googleapis.com/css?family=Noto Sans");
@import url("https://fonts.googleapis.com/css?family=Alfa Slab One");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins' ; 
  background-color: #1B1B1B;
  color: #F8EFD4;
}

div {
  margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}